h1 {
    color:blue;
    padding: 50px;
    border: 10px;
}
img {
    width: 100px;
}

#thirDiv {
    height: 500px; 
    width: 500px; 
    background-color: darkgoldenrod;
}
#spanId {
      font-size: 18px;
      margin: 50px;
}
